TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}
SESSION_DRIVER=cookie
DRIVE_DISK=fs
MAIL_MAILER=smtp
MAIL_FROM_NAME=LibrePublish
MAIL_FROM_ADDRESS=cms@example.com
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
LIMITER_STORE=database
ADMIN_EMAIL=
ADMIN_PASSWORD=
